<div class="container">
  <div class="row">
    <div class="mx-auto">
      <br/>
      <h2 style="margin-top: 6rem;" >Add a User</h2><br/>
      <form [formGroup]="User" (ngSubmit)="onSubmit(User.value)">
        <div class="form-group">
          <label for="Email">Email address</label>
          <input type="email" formControlName="email" name="email" class="form-control" id="Email" aria-describedby="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" formControlName="password" name="password" class="form-control" id="Password" placeholder="Password" />
        </div>
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" formControlName="username" name="username" class="form-control" id="username" placeholder="username" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
